{% extends 'base.html' %}
{% block title %}
Dashboard
{% endblock %}
{% block content %}
<H2>Investera mera :)</H2>
<p>Ticker, Amount, Purchase price, Current Price</p>

<ul>
    
    {% for stock in stocks %}
        <li>{{ stock['symbol'] }}</li>
        <li>{{ stock['price_history'][-1][-1] }}</li>
    {% endfor %}
</ul>
<div class="card">
    <div class="card-body col-6">
      <canvas id="myDoughnut" width="400" height="400"></canvas>
      <canvas id="targetDoughnut" width="400" height="400"></canvas>
    </div>
  </div>
       


{% endblock %}
{% block script %}
<script type="text/javascript">
    var ctx = $('#myDoughnut')
    console.log( {{ doughnutdata }} )
    var myDoughnut = new Chart(ctx, {
        type: 'doughnut',
        data: data = {
            datasets: [{
                data: {{ doughnutdata }},
            }],
            labels: [
                'Tech',
                'Realestate',
                'Materials',
                'Crypto',
                'Funds',
                'Currency',
                'Räksallad',  
            ]

        }
    });
    </script>
{% endblock %}


